<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Debtr</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/debtr-plain-logo.png') }}" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!"><img src="{{ url_for('static', filename='assets/debtr-logo.png') }}" width="70%" height="50%" alt="Debtr"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <span class="navbar-text">
                            Hi, <p style="color:#FEB93F; font-weight: bold;;display:inline">{{ name }}</p>!
                        </span>
                        <li class="nav-item"><a class="nav-link" href="#!">Settings</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-12 mb-5">
                    <div class="card h-100" style="margin-top: 30px;">
                        <div class="card-body" style="padding-top: 20px">
                            <h3 class="card-title">Transaction Summary</h3>
                            <p class="card-text">Your Wallet Address: {{sender_address}}</p>
                            <p class="card-text">Recipient's Wallet Address: {{recipient_address}}</p>
                            <p class="card-text">Amount: 0.001 Ether</p>
                            <p class="card-text">Gas Limit: {{gas_limit}}</p>
                            <p class="card-text">Gas Price: {{gas_price}}</p>
                            <p class="card-text">                                                
                                {% for expense_element in expenses %}
                                    <p>{{ expense_element }} </p>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="card-footer" style="margin: 20px">
                            <button id="cryptoSubmitButton" class="btn btn-dark btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="color:#FEB93F" onclick="document.location.href = '/welcome'">
                                Back to Expenses
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Debtr 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='css/scripts.js') }}"></script>
    </body>
</html>
