<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Debtr</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/debtr-plain-logo.png') }}" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!"><img src="{{ url_for('static', filename='assets/debtr-logo.png') }}" width="70%" height="50%" alt="Debtr"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <span class="navbar-text">
                            Hi, <p style="color:#FEB93F; font-weight: bold;;display:inline">{{ name }}</p>!
                        </span>
                        <li class="nav-item"><a class="nav-link" href="#!">Settings</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Median Exchange Rate: {{median_rate}}</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">Live exchange rate</h3>
                            <p class="card-text">                                                
                                {% for rate_elements in rates %}
                                    <p>{{ rate_elements }} </p>
                                {% endfor %}                            
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">Expenses in {{currency.upper()}}</h3>
                            <p class="card-text">                                                
                                {% for converted_expense_elements in converted_expenses %}
                                    <p>{{ converted_expense_elements }} </p>
                                {% endfor %}                            
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">Settle expenses in {{currency.upper()}}</h3>
                            <p class="card-text">   
                                <label for="fname">Select Friend to Settle Epenses:</label><br>
                                <select id="recipients">
                                    <option disabled selected value="Default">-</option>
                                    {% for option in others %}
                                    <option value={{option}}>{{option}}</option>
                                    {% endfor %}
                                </select>
                                <form>
                                    <label>Your Wallet Address:</label><br>
                                    <input type="text" id="sender_address" style="width: 100%;"><br>
                                    <label id="recipient">Recipient's Wallet Address:</label><br>
                                    <input type="text" id="recipient_address" style="width: 100%;"><br><br>
                                </form>
                            </p>
                        </div>
                        <div class="card-footer">
                            <button id="cryptoSubmitButton" class="btn btn-dark btn-primary rounded-pill px-3 mb-2 mb-lg-0" style="color:#FEB93F" onclick="myFunction()">
                                Execute Smart Contract
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Debtr 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='css/scripts.js') }}"></script>
        <script>
            function myFunction() {
                let address_1 = document.getElementById('sender_address').value
                let address_2 = document.getElementById('recipient_address').value
                let base_address = '/transaction_confirmation?sender_address='
                let second_address = '&recipient_address='
                let sender_address_url = base_address.concat(address_1);
                let recipient_address_url = second_address.concat(address_2);
                document.location.href =  sender_address_url.concat(recipient_address_url);
            }
        </script>
        <script type="text/javascript">
            var e = document.getElementById("recipients");
            e.onchange = function() {
                var strUser = e.options[e.selectedIndex].value;
                document.getElementById('recipient').innerHTML = strUser + "'s Wallet Address";
            }
        </script>
    </body>
</html>
